# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Log files
*.log

# System-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# TensorFlow/TensorBoard logs
logs/
*.tfevents
